{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="{%static 'mzima_gas/styles.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mzima_gas.com</title>
</head>

<body>
	
	<div class="holder">
		
		<marquee behavior="infinite" direction="left" scrollamount=15>
			<div class="header">WELCOME TO MZIMA GAS SUPPLIERS. WE DON'T JUST CARE ABOUT GAS, WE CARE ABOUT YOU. </div>
        </marquee>
	</div>
		
	<br>
	<br>
	
			
	<div class="headerbar">
		<div>MZIMA&nbsp;GAS&nbsp;SUPPLIERS</div>
	</div>	
	<br>
	<hr>
	
	
	<!-- sidebar checkboxes  -->
	<input type="checkbox" id="test">
	<label for="test" class=" testlabel"><span> </span></label>

	
	<input type="checkbox" id="close">
	<label for="test" class=" closelabel"><span></span></label>
	

	<div id="sidebar" >
		<div class="starter_statement">Mzima&nbsp;Gas Suppliers</div>
			<div class="sidetalk">			
					
				<li  id ="whatsappus" > <a href="https://wa.link/j4cd7z" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/000000/whatsapp.png"> </a></li>
				<label for ="whatsappus" class = "whatsappus"><a href="https://wa.link/j4cd7z" target="_blank">Talk&nbsp;to&nbsp;us</a></label>
				
				<li  id ="direction" ><a href="https://www.google.com/search?sxsrf=APq-WBtl4EMgBHPAYkrYSb82qNLhRX_UWQ:1646489040322&q=mzima+gas&sxsrf=APq-WBtl4EMgBHPAYkrYSb82qNLhRX_UWQ:1646489040322&sa=X&ved=2ahUKEwinuv_Ska_2AhVrQ_EDHaR-AVkQuzF6BAgBEAI#"> 
					<img  src="https://img.icons8.com/material-outlined/24/000000/marker.png"/></a></li>
					<label for ="direction" class = "direction"><a href="https://www.google.com/search?sxsrf=APq-WBtl4EMgBHPAYkrYSb82qNLhRX_UWQ:1646489040322&q=mzima+gas&sxsrf=APq-WBtl4EMgBHPAYkrYSb82qNLhRX_UWQ:1646489040322&sa=X&ved=2ahUKEwinuv_Ska_2AhVrQ_EDHaR-AVkQuzF6BAgBEAI#"> 
					Directions</a></label>
				
				<li  id ="phone" ><a  href="tel:0740613441"><img src="https://img.icons8.com/windows/32/000000/phone-disconnected--v1.png"></a></li>
				<label for ="phone" class = "phone"><a  href="tel:0740613441">Enquire</a></label>
			</div>
	</div>



				<!-- more ,Home and information icons -->
		<!-- <div class="direct_order">
			<a  href="tel:0740613441" ><img src="https://img.icons8.com/windows/32/000000/phone-disconnected--v1.png"></a>
				<br>
			<a href="https://wa.link/j4cd7z" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/000000/whatsapp.png"></a>
		</div>  -->
		<hr>
	<div class="container">
		<h4 >Thank you for choosing your Gas service from Mzima. At Mzima Gas Supliers, 
			we value not only our customers but also our servises to the customers. We value your feed back, 
			Please consider leaving us a message regarding the services that we provide and any improvement  that 
			we can make, to forever move forward together.
		</h4>
		
		<div class="working_hours">
			<ul><u><b>Busuness hours</u></b>
				
				<li>Mon:	7:00 AM  –  9:30 PM</li>
				<li>Tue:	7:00 AM  –  9:30 PM</li>
				<li>Wed:	7:00 AM  –  9:30 PM</li>
				<li>Thu:	7:00 AM  –  9:30 PM</li>
				<li>Fri:	7:00 AM  –  9:30 PM</li>
				<li>Sat:	7:00 AM  –  9:30 PM</li>
				<li>Sun:	10:00 AM –  7:00 PM</li>
			</ul>	
		</div>
		
		

		<br>
		<video src= "static/gasvid.mp4" width ="100%" muted loop autoplay="autoplay"></video>
	
		<img class = "mzimagasphoto" src= static/mzimab.jpg> 

		<h4 class = "Delivery">With the fastest Honda in town, Get your Gas delivered to you just in time.
			Our Delivery Services are always on the eager to get your Gas Delivered.</h4>
		<br>
		<br>
		
		<div class="gasimg">
				
			<img class = "img1" src=static/mzimaa.jpg width= "250px"> 
			<img class = "img1" src=static/MZIMA5.jpg width= "250px"> 
			<img class="img2" src=static/mzimac.jpg width = "100%">
	
		</div>	
	<hr>
		
			<!-- find us on social media -->
	<div class="talk_to_us">

		<h4>We value your feedback</h4>
		<span> Send us an Email:</span>
			<a href="https://mzimagas@gmail.com"> mzimagas@gmail.com</a>
			
	</div>
	

		
	<h6 class="crossplatform">Find us on Social media platforms</h6>
	<div class="social">
		<a class="twitter" href=www.Twitter.com><img src="https://img.icons8.com/color/48/000000/twitter--v1.png" width="25px"></img></a>
		
		<a class="facebook" href=www.facebook.com><img src="https://img.icons8.com/fluency/50/000000/facebook-new.png" width="25px"> </img></a>
		
		<a class="instagram" href=www.Istagram.com><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"width="25px"></img></a>

	</div>
		
</body>
</html>